langchain==0.2.16
langgraph
langchain-core
langchain-community==0.2.16
python-dotenv
langchain-openai==0.1.23
langchain-groq
arxiv
wikipedia
langgraph-cli[inmem]
faiss-cpu
nltk
pypdf
streamlit==1.32.2
